/* Basic Style */
.page-wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header-wrapper {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header-wrapper {
    text-align: center;
  }
}

.main-wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-list__name {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.new-task__wrapper {
  align-items: flex-start;
  display: flex;
}

.task-list {
  margin: 0;
  padding: 0px;
}

.task-list__item,
.heading {
  list-style: none;
}

.task-list__name,
.new-task__name,
.task-list__checkbox,
.button {
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.header,
.new-task__name {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-list__name_input,
.new-task__name_input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  text-transform: none;
  font-weight: normal;
}

.task-list__name_input:focus,
.new-task__name_input:focus {
  color: #333;
}

/* New Task */
.new-task__name {
  display: block;
  margin: 0 0 20px;
}

.new-task__name_input {
  width: 430px;
}

.button-add:hover {
  color: #0fc57c;
}

/* Task list */
.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list__checkbox {
  margin: 0 10px;
}

.task-list__name_label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-list__name_input {
  width: 226px;
}

.button-delete:hover {
  color: #cf2323;
}

.button-delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button-delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-list_complete .task-list__name_label {
  text-decoration: line-through;
  color: #888;
}

.task-list_complete .task-list__item {
  padding-top: 18px;
}

/* Edit Task */
.edit-mode .task-list__name_label {
  display: none;
}

.task-list__name_input {
  display: none;
}

.edit-mode .task-list__name_input {
  display: inline-block;
  width: 224px;
}
